{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Lista de CEPs</h2>

    <table border="1">
        <tr>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Ações</th>
        </tr>
        {% for cep in object_list %}
        <tr>
            <td>{{ cep.cep }}</td>
            <td>{{ cep.cidade }}</td>
            <td>
                <a href="{% url 'atualiza_cep' cep.pk %}">Editar</a>
                <a href="{% url 'deleta_cep' cep.pk %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum CEP cadastrado.</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'cria_cep' %}">Cadastrar Novo CEP</a>
</div>
{% endblock %}
